@import "./includes/sizes";
@import "./includes/colors";

a, button, input, textarea {
    cursor: pointer;
}

.field {
    margin-top: $sq_half;
    position: relative;
    width: 100%;
    * {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    label {
        font-size: $tx1;
    }
    input {
        border-radius: 0;
        border: 1px solid $blk;
        font-size: $tx1;
        padding: $pd1;
        &:focus {
            cursor: text!important;
        }
    }
    textarea {
        border-radius: 0;
        border: 1px solid $blk;
        font-size: $tx1;
        line-height: $tx1;
        min-height: calc(#{$sq1} * 5);
        padding: $pd1;
        &:focus {
            cursor: text;
        }
    }
}

.fab {
    background: $pnk;
    bottom: $sq_half;
    border-radius: 50%;
    box-shadow: 0 3px 8px -3px rgba(0,0,0,0.8), 0 3px 10px rgba(0,0,0,0.2);
    color: $wht;
    font-size: calc(#{$tx1} + #{$pd1});
    line-height: calc(#{$tx1} + #{$pd1});
    font-weight: bold;
    height: calc(#{$sq1} + #{$sq_half});
    margin: 0;
    padding: calc((#{sq1} + #{$sq_half}) - (#{$tx1} + #{$pd1}));
    position: fixed;
    right: $sq_half;
    width: calc(#{$sq1} + #{$sq_half});
}