@import "./vars/colors";
@import "./vars/sizes";
@import "./custom/colors";


html,body {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
    transition-duration: .6s;
    transition-property: none;
    transition-timing-function: ease;
}

#page_title {
    font-size: 3em;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    height: 7rem;
}
#edit_post {
    & > .field:first-child {
        margin-top: calc(#{$sq1} + 15px);;
        margin-bottom: 15px;
        input {
            font-size: $sq1;
            font-weight: bold;
        }
    }
}

p {
    font-size: $tx1;
    line-height: $tx1;
}

button {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.app_header, .menu_header {
    align-items: center;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    left: 0;
    width: 100%;
    .header_btn {
        align-items: center;
        background: none;
        display: flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
        button {
            background: none;
            height: 100%;
            text-align: center;
            width: 100%;
        }
    }
    .title {
        font-size: 1.5em;
        width: calc(100vw - 6rem);
    }
}

.has_edges {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#main {
    height: calc(100vh - 13rem);
    opacity: 0;
    overflow: auto;
    padding: 3rem 0;
    width: 100%;
}
#menu {
    opacity: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

.checkbox_hack {
    visibility: hidden;
}

#menu_shadow {
    opacity: 0;
}