@import "./includes/sizes";
@import "./includes/colors";

html,body {
    height: 100%;
}

body {
    box-sizing: border-box;
  //  font-family: sans-serif;
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
    transition-duration: .6s;
    transition-property: none;
    transition-timing-function: ease;
}

h1 {
    font-size: $sq1;
    margin: 0;
    padding-bottom: $sq_half;
    padding-top: calc(#{$sq1} + #{$sq_half});
    padding-left: $sq1;
    padding-right: $sq1;
    position: relative;
    &::after {
        background: $gry;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

p {
    font-size: $tx1;
    line-height: $tx1;
}

button {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

header {
    background: #ff009a;
    //box-shadow: 0 3px 8px -4px rgba(0,0,0,0.6), 0 3px 10px rgba(0,0,0,0.2);
    height: $sq1;
    left: 0;
   // padding: calc(#{$pd1} + 1px) $pd1 calc(#{$pd1} - 1px) $pd1!important;
   padding: $pd1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .menu_header {
        position: relative;
    }
    * {
        display: inline-block;
        font-size: $tx1;
        line-height: $tx1;
    }
    .header_btn, .title {
        color: $wht;
    }
    .header_btn {
        background: none;
        height: $sq1;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: $sq1;
        &.left {
            left: 0;
            right: auto;
        }
        &.right {
            left: auto;
            right: 0;
        }
        &#menu_btn,
        &#close_menu_btn  {
            padding: 6px;
        }
        button {
            background: none;
            height: 100%;
            text-align: center;
            width: 100%;
        }
    }
    .title {
        height: $tx1;
        left: 38px;
        margin: 0;
        position: absolute;
        top: 11px;
    }
}

main {
    padding: $sq1 0;
    width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

.checkbox_hack {
    visibility: hidden;
}