@import "./includes/sizes";
@import "./includes/colors";

#overviews {
    margin-top: $sq1;
    width: 100%;
    li {
        background: $gry;
       // box-shadow: 0 2px 4px -2px rgba(0,0,0,0.8) inset, 0 0 3px rgba(0,0,0,0.15) inset;
        //min-height: $sq2;
        height: calc(#{$sq1} * 4);
        position: relative;
        width: 100%;
        & + * {
            margin-top: $sq2;
        }
        a {
            display: block;
            height: 100%;
            padding: $pd1 $sq1;
            text-decoration: none;
            width: 100%;
        }
        dl {
            color: $blk;
        }
        dt {
            font-size: calc(#{$tx1} + #{$pd1});
            font-weight: bold;
        }
        .date {
            color: $blk;
            font-size: $tx1;
            position: absolute;
            top: calc(0px - (#{$tx1} + #{$pd1}));
            left: $sq1;
        }
    }
}