@import "./includes/sizes";
@import "./includes/colors";

#overviews {
    width: 100%;
    li {
        background: $gry;
        box-shadow: 0 2px 4px -2px rgba(0,0,0,0.8), 0 0 3px rgba(0,0,0,0.15);
        height: calc(#{$sq1} * 5);
        width: 100%;
        & + * {
            margin-top: $sq1;
        }
        a {
            display: block;
            height: 100%;
            padding: $pd1;
            text-decoration: none;
            width: 100%;
        }
        dl {
            color: $blk;
        }
        dt {
            font-size: calc(#{$tx1} + #{$pd1});
            font-weight: bold;
        }
    }
}