/* Default colors template */

/*.bg1 {background: #FFF; color: #000}
.bg2 {background: #CCC; color: #000}
.primary_color_bg {background: #3d5afe}
.secondary_color_bg {background: #666}
*/








/*  Ali's theme, cute/citrus/hiviz <3  */

.bg1 {background: #FFF;}
.bg1_text {color: #000;}
.bg1_icons {}

.bg2 {background: #E0E0E1;}
.bg2_text {color: #666;}
.bg1_icons {}

.primary_colors {background: #FF009A;color:#fff;}
.primary_text {color: #fff;}
.primary_icons {filter: invert(1);}

.secondary_colors {background: #caff00; color: #10171e;}
.secondary_text {color: #10171e;}
.secondary_icons {filter: invert(0);}

.border_color {border-color: #10171e!important;}
.drop_shadow {box-shadow: 0 3px 8px -4px rgba(0,0,0,0.6), 0 3px 10px rgba(0,0,0,0.2);}

/* Chloes theme - darkmode 
.bg1 {background: #10171e; color: #FFF;}
.bg2 {background: #15202b; color: #FFF;}
.primary_colors {background: #1da1f2; color: #FFF;}
.secondary_colors {background: #1c2938;color: #8899a6;}
.primary_text {color: #FFF;}
.secondary_text {color: #8899a6;}
*/