a, button, input, textarea {
  cursor: pointer; }

.field {
  margin-top: 19px;
  position: relative;
  width: 100%; }
  .field * {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%; }
  .field label {
    font-size: 18px; }
  .field input {
    border-radius: 0;
    border: 1px solid #000;
    font-size: 18px;
    padding: 10px; }
    .field input:focus {
      cursor: text !important; }
  .field textarea {
    border-radius: 0;
    border: 1px solid #000;
    font-size: 18px;
    line-height: 18px;
    min-height: calc(38px * 5);
    padding: 10px; }
    .field textarea:focus {
      cursor: text; }

.fab {
  background: #FF009A;
  bottom: 19px;
  border-radius: 50%;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.8), 0 3px 10px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: calc(18px + 10px);
  line-height: calc(18px + 10px);
  font-weight: bold;
  height: calc(38px + 19px);
  margin: 0;
  padding: calc((sq1 + 19px) - (18px + 10px));
  position: fixed;
  right: 19px;
  width: calc(38px + 19px); }
