a, button, input, textarea {
  cursor: pointer; }

.field {
  margin: 19px 38px 0 38px;
  position: relative;
  width: calc(100% - 76px); }
  .field * {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%; }
  .field label {
    font-size: 18px; }
  .field input {
    border-radius: 0;
    border: 1px solid #000;
    font-size: 18px;
    padding: 10px; }
    .field input:focus {
      cursor: text !important; }
  .field textarea {
    border-radius: 0;
    border: 1px solid #000;
    font-size: 18px;
    line-height: 18px;
    min-height: calc(38px * 5);
    padding: 10px; }
    .field textarea:focus {
      cursor: text; }

.fab {
  background: #FF009A;
  bottom: 19px;
  border-radius: 50%;
  color: #FFF;
  font-size: calc(18px + 10px);
  line-height: calc(18px + 10px);
  font-weight: bold;
  height: calc(38px + 19px);
  margin: 0;
  padding: 0;
  position: fixed;
  right: 19px;
  width: calc(38px + 19px); }
  .fab a {
    color: #FFF;
    height: 100%;
    padding: calc((sq1 + 19px) - (18px + 10px));
    text-decoration: none;
    width: 100%; }

.icon {
  filter: brightness(100); }
