html, body {
  height: 100%; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit;
  transition-duration: .6s;
  transition-property: none;
  transition-timing-function: ease; }

h1 {
  font-size: 38px;
  margin: 0;
  padding-bottom: 19px;
  padding-top: calc(38px + 19px);
  padding-left: 38px;
  padding-right: 38px;
  position: relative; }
  h1::after {
    background: #CCC;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%; }

p {
  font-size: 18px;
  line-height: 18px; }

button {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

header {
  background: #ff009a;
  height: 38px;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  header .menu_header {
    position: relative; }
  header * {
    display: inline-block;
    font-size: 18px;
    line-height: 18px; }
  header .header_btn, header .title {
    color: #FFF; }
  header .header_btn {
    background: none;
    height: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 38px; }
    header .header_btn.left {
      left: 0;
      right: auto; }
    header .header_btn.right {
      left: auto;
      right: 0; }
    header .header_btn#menu_btn, header .header_btn#close_menu_btn {
      padding: 6px; }
    header .header_btn button {
      background: none;
      height: 100%;
      text-align: center;
      width: 100%; }
  header .title {
    height: 18px;
    left: 38px;
    margin: 0;
    position: absolute;
    top: 11px; }

main {
  padding: 38px 0;
  width: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

.checkbox_hack {
  visibility: hidden; }
