/* Default colors template */
/*.bg1 {background: #FFF; color: #000}
.bg2 {background: #CCC; color: #000}
.primary_color_bg {background: #3d5afe}
.secondary_color_bg {background: #666}
*/
/*  Ali's theme, cute/citrus/hiviz <3  */
.bg1 {
  background: #FFF;
  color: #000; }

.bg2 {
  background: #efefef;
  color: #666; }

.primary_colors {
  background: #FF009A;
  color: #fff; }

.secondary_colors {
  background: #caff00;
  color: #10171e; }

.primary_text {
  color: #fff; }

.secondary_text {
  color: #10171e; }

.primary_icons {
  filter: invert(1); }

.secondary_icons {
  filter: invert(0); }

.border_color {
  border-color: #10171e !important; }

.drop_shadow {
  box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.6), 0 3px 10px rgba(0, 0, 0, 0.2); }

/* Chloes theme - darkmode 
.bg1 {background: #10171e; color: #FFF;}
.bg2 {background: #15202b; color: #FFF;}
.primary_colors {background: #1da1f2; color: #FFF;}
.secondary_colors {background: #1c2938;color: #8899a6;}
.primary_text {color: #FFF;}
.secondary_text {color: #8899a6;}
*/
html, body {
  height: 100%; }

body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; }

*, *::before, *::after {
  box-sizing: inherit;
  transition-duration: .6s;
  transition-property: none;
  transition-timing-function: ease; }

#page_title {
  font-size: 3em;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  height: 7rem; }

#edit_post > .field:first-child {
  margin-top: calc(38px + 15px);
  margin-bottom: 15px; }
  #edit_post > .field:first-child input {
    font-size: 38px;
    font-weight: bold; }

p {
  font-size: 18px;
  line-height: 18px; }

button {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

.app_header, .menu_header {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  left: 0;
  width: 100%; }
  .app_header .header_btn, .menu_header .header_btn {
    align-items: center;
    background: none;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem; }
    .app_header .header_btn button, .menu_header .header_btn button {
      background: none;
      height: 100%;
      text-align: center;
      width: 100%; }
  .app_header .title, .menu_header .title {
    font-size: 1.5em;
    width: calc(100vw - 6rem); }

.has_edges {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

#main {
  height: calc(100vh - 13rem);
  opacity: 0;
  overflow: auto;
  padding: 3rem 0;
  width: 100%; }

#menu {
  opacity: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

.checkbox_hack {
  visibility: hidden; }

#menu_shadow {
  opacity: 0; }
