#overviews {
  margin-top: 38px;
  width: 100%; }
  #overviews li {
    height: calc(38px * 4);
    position: relative;
    width: 100%; }
    #overviews li + * {
      margin-top: 76px; }
    #overviews li a {
      display: block;
      height: 100%;
      padding: 10px 38px;
      text-decoration: none;
      width: 100%; }
    #overviews li dl {
      color: inherit; }
    #overviews li dt {
      font-size: calc(18px + 10px);
      font-weight: bold; }
    #overviews li .date {
      font-size: 18px;
      position: absolute;
      top: calc(0px - (18px + 10px));
      left: 38px; }
