/* Default colors template */

.bg1 {background: #FFF; color: #000}
.bg2 {background: #CCC; color: #000}
.primary_color_bg {background: #3d5afe}
.secondary_color_bg {background: #666}









/*  Ali's theme, cute/citrus/hiviz <3  */

//.bg1 {background: #FFF}
//.primary_color_bg {background: #FF009A}
//.secondary_color_bg {background: #caff00}



/* Em+Chloe? Idk we're making darkmode */
.bg1 {background: #10171e; color: #FFF}
.bg2 {background: #15202b; color: #FFF}
.primary_color_bg {background: #1da1f2}
.secondary_color_bg {background: #1c2938}

.primary_text {
    background: none;
    color: #FFF;
}
.secondary_text {
    background: none;
    color: #8899a6;
}

.has_edges {
    border-color: #38444d!important;
}

.card {
    background: #1c2938;
    border: 1px solid #38444d;
    border-radius: 1px;
    color: #FFF!important;
    margin-left: $pd1;
    margin-right: $pd1;
    width: calc(100% - ( #{$pd1} * 2)) !important;
    > * {
        color: inherit;
    }
}

.link_btn {
    color: #FFF;
    padding-top: calc(#{$pd1} + #{$sq_half});
    padding-bottom: calc(#{$pd1} + #{$sq_half});    
    &:hover, &:focus {
        background: #15202b;
    }
}